@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
   
     
        <div class="logo">
            <img src="https://raw.githubusercontent.com/GuidoCofa/UnityCares/main/img/LogoUnityCares.png" alt="UnityCares Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button type="button">🔍</button>
        </div>
        @if(@ViewBag.Usuarios.email != "") {
              <div class="Perfil">
          <a href='@Url.Action("Home Page","Home")'><button type="button">@ViewBag.Usuarios.nombreUsuario</button></a>
        </div>
        }
        else{
          <div class="login">
          <a href='@Url.Action("Login","Home")'><button type="button">Iniciar Sesión</button></a>
        </div>
        }
    </header>
        
        <div class="banner">
            <img src="https://github.com/GuidoCofa/UnityCares/blob/main/img/manos.png?raw=true" alt="Banner Image">
        </div>
        <div>
        <div class="content">
        @if (ViewBag.ONGs != null)
    {
        @foreach(var i in @ViewBag.ONGs){
        <div class="card">
            <div class="photo">
                <a href='@Url.Action("traerUna","Home", new {id = i.id})'><img src= @i.logo alt="" height="300px" width="auto"></a>
            </div>
                <div class="title"><u><b>@i.nombre</b></u> </div>
                <div class="title">@i.descripcion</div>
                </div>
        }
    }
         

    

</body>
    <footer class="footerLogueado">
        <p>&copy; 2024 UnityCares. Todos los derechos reservados.</p>
    </footer>