@{
    ViewData["Title"] = "traerUna";
}

<body class="bodyLogueado">
    <header class="headerLogueado">
        <a href='@Url.Action("Index", "Home")'>
            <img src="https://raw.githubusercontent.com/GuidoCofa/UnityCares/main/img/LogoUnityCares.png" alt="UnityCares Logo" class="logo">
        </a>

        <nav class="navMenu">
            <ul class="navList">
                <li><a href="#" class="navLink">Donaciones</a></li>
                <li><a href='@Url.Action("Calendario", "Home", new { id = ViewBag.id })' class="navLink">Calendario</a></li>
                <li><a href="#" class="navLink">Sobre nosotros</a></li>
                <li><a href="#" class="navLink">Qué necesitamos</a></li>
            </ul>
        </nav>
    </header>

    <main class="mainContent">
        <section class="description">
            <div class="logo-container">
                <img src="@ViewBag.UnaONG.Logo" alt="Logo Placeholder" class="ongLogo">
                <div class="title">@ViewBag.UnaONG.Nombre</div>
            </div>
            <div class="description-content">
                <h2>Descripción</h2>
                <p>@ViewBag.UnaONG.Descripcion</p>
            </div>
        </section>
        
        @if (ViewBag.Noticias != null)
        {
            <h2>Noticias</h2>
            <div class="news-container">
                @foreach (var i in ViewBag.Noticias)
                {
                    <div class="card news-card">
                        <div class="photo">
                            <img src="@i.Foto" alt="" class="newsPhoto">
                        </div>
                        <div class="title">
                            <u><b>@i.Titulo</b></u>
                        </div>
                        <div class="description">
                            @i.Descripcion
                        </div>
                    </div>
                }
            </div>
        }
    </main>

    <footer class="footerLogueado">
        <p>&copy; 2024 UnityCares. Todos los derechos reservados.</p>
    </footer>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>